
/*Desktop : Medium : 1280px */
@media only screen and (min-width: 992px) and (max-width: 1199px){
	
}

/*Tablet layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px){
	
}

/*Mobile layout: 320px. */
@media only screen and (max-width: 767px){
	
}

/*Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px){
	
}
